In [2]:
import pandas as pd
import numpy as np

In [3]:
a=pd.Series( ["sam","hafeel","prem"],index=[1,2,3])

In [4]:
print(a)

1       sam
2    hafeel
3      prem
dtype: object

In [8]:
season={"winter":{1:'nov',2:'dec',3:'jan'},
      "dry":{1:'mar',2:'apr',3:'may'}}

In [10]:
b=pd.DataFrame(season,columns=["winter","dry"])
b

  winter  dry
1    nov  mar
2    dec  apr
3    jan  may